.switch {
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: red;
  position: relative;
}


.slider {
  position: absolute;
  background-color: blue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: .5s;
}

.activeSlider{
  left: 20px;
}
